nav ul{
    list-style: none;
    margin: 0;
    /* padding: .5rem 0 0 1rem; */
}   
nav ul li{
    display: inline-block;
    margin: 0 1.7rem  0 0;
    font-weight: 500;
    line-height: 200%;
    padding: 1rem 0;
    position: relative;
}

nav ul li:hover{
    color: blue;
}

nav ul li:hover::after{
    content: '\0020';
    width: 100%;
    border-bottom: 3px solid blue;
    position: absolute;
    bottom: 0;
    left: 0;
}

header h4{
    display: inline-block;
    margin-bottom: 0;
    line-height: 120%;
    vertical-align: sub;
}

header img{
    width: 5rem;
}

hr{
    margin: 0;
}

header ul li::first-letter{
    text-transform: capitalize;
}

#faq .answer > p, #faq ol li{
    padding: .5rem 0;
}

.answer ol:nth-child(1){
    list-style: lower-alpha;
}

.answer a{
    text-decoration: none;
}